<%#= render 'shared/errors', obj: @user %>

<%= form_with(model: @user) do |f| %>
  <p>
    <%= f.label :username %><br/>
    <%=f.text_field :username, placeholder: "Enter Username" %>
  </p>
  <p>
    <%= f.label :email %><br/>
    <%= f.email_field :email, placeholder: "Enter Email Address" %>
  </p>
  <p>
    <%= f.label :password %><br/>
    <%= f.password_field :password, placeholder: "Enter Password" %>
  </p>
  <p>
    <%=f.submit(@user.new_record? ? "Sign Up": "Update account") %>
  </p>
<% end %>

<div>
  <%= link_to ' [Cancel and return to articles listing ]', articles_path %>
</div>