<h1><%= @user.username %>'s profile</h1>

<%= gravatar_for @user %>

<div>
  <% if logged_in? && (@user == current_user || current_user.admin?) %>
    <%= link_to "Edit your profile", edit_user_path(@user) %>
    <%= button_to "Delete account", user_path(@user), method: :delete, onclick: "return confirm('Are you sure?')" %>
  <% end %>
</div>
<br/>
<%= will_paginate @articles %>

<%= render 'articles/article' %>