<header style="display: flex; width: 100%">
  <ul style="text-decoration: none; list-style: none; display: flex; flex: 1; justify-content: flex-end;">
    <% if logged_in? %>
      <li>
        <%= "(Admin)" if current_user.admin? %><%= current_user.username %>
      </li>
    <% end %>
    <% if logged_in? && current_user.admin? %>
      <li>
        <%= link_to 'Create New Category', new_category_path %>
      </li>
    <% end %>
    <li>
      <%= "(Admin)" if current_user.admin? %><%= current_user.username %>
    </li>
    <li>
      <%= link_to 'Articles listing', articles_path %> |
    </li>
    <li>
      <%= link_to 'About', about_path %>
    </li>
    <% if logged_in? %>
      <li>
        <%= button_to 'Log Out', logout_path, method: :delete %> |
      </li>
    <% else %>
      <li>
        <%= link_to 'Log In', login_path %> |
      </li>
    <% end %>
  </ul>
</header>